/* How to use the font

h1{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
nav{
    width: 85%;
    margin: auto;
    border-bottom: 2px solid #64DD17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0 20px
}
nav .logo{
    display: flex;
    gap: 15px;
}
nav .logo img{
    width: 74px;
    height: 73px;
}
nav .logo h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #261F1F;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #261F1F;
}
nav ul li a:hover{
    color: #203b93;
}
.active{
    color: #203b93;
}
button{
    width: 112px;
    height: 60px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #ffffff;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1))
}
button a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    /* width: 100%; */
    border-radius: 14px;
    height: 100%;
    justify-content: center;
    align-items: center;border: none;
    outline: none;
}
.green{
    background-color: #64DD17;
}
.green:hover{
    background-color: transparent;
    border: 1px solid #64DD17;
    color: #64DD17;
}
.blue{
    background-color: #203b93;
}
.blue:hover{
    background-color: transparent;
    border: 1px solid #203b93;
    color: #203b93;
}

